@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(189, 76%, 52%);
}
.flex-container {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 70px;
  height: 500px;
  width: 340px;
  border-radius: 30px;
}
.QRbox {
  background-color: yellow;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 10px;
}
.item {
  background: none;
  border: 1px solid black;
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}
.item-1 {
  font-weight: 700;
}
.item-2 {
  font-weight: 400;
  color: grey;
}
